.banner__titulo{
    font-family: pacifico, cursive;
    
    position: absolute;
    left:50%;
    top:50%;
    color: #ffffff;
    text-shadow: 0 4px 4px #000000;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media  screen and (min-width: 0){
    .banner__titulo{
        font-size: 3rem;

    }
}

@media screen and (min-width:768px) {
    .banner__titulo{
    font-size: 5.0625rem;
    }
}